/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
  background-color: transparent;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global rules */
/* Start Components */
.main-heading {
  width: fit-content;
  margin: 0 auto 80px;
  font-size: 30px;
  border: 2px solid black;
  padding: 10px 20px;
  text-transform: uppercase;
  position: relative;
  transition: var(--main-transition);
  z-index: 1;
}

.main-heading:hover {
  color: white;
  transition-delay: 0.5s;
  border: white solid 2px;
}

.main-heading::before,
.main-heading::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
}

.main-heading::before {
  left: -30px;
}

.main-heading::after {
  right: -30px;
}

.main-heading:hover::before {
  animation: move-left 0.5s linear forwards;
  z-index: -1;
}

.main-heading:hover::after {
  animation: move-right 0.5s linear forwards;
  z-index: -1;
}
/* End Components */
/* Start Header */
header {
  background-color: white;
}

header .container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}

header .logo {
  width: 100%;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  color: var(--main-color);
}

@media (min-width: 768px) {
  header .logo {
    height: 74px;
    width: fit-content;
  }
}

header .main-nav {
  display: flex;
  margin: auto;
}

header .main-nav > li > a {
  height: 40px;
  font-size: 14px;
  color: black;
  padding: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--main-transition);
}

@media (min-width: 768px) {
  header .main-nav {
    margin: 0;
  }

  header .main-nav > li > a {
    height: 74px;
    padding: 0 30px;
    font-size: 18px;
  }
}

header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}

header .main-nav > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  transition: var(--main-transition);
}

header .main-nav > li > a:hover::before {
  left: 0;
}

header .main-nav > li .mega-menu {
  position: absolute;
  z-index: -1;
  opacity: 0;
  left: 0;
  display: flex;
  width: 100%;
  top: calc(100% + 30px);
  background-color: white;
  border-bottom: 3px var(--main-color) solid;
  padding: 5px;
  flex-direction: column;
  transition: var(--main-transition);
}

header .main-nav > li:hover .mega-menu {
  top: calc(100% + 1px);
  z-index: 100;
  opacity: 1;
}

header .main-nav > li .mega-menu > .image {
  display: none;
}

header .main-nav > li .mega-menu > .links {
  min-width: 250px;
  flex: 1;
}

@media (min-width: 768px) {
  header .main-nav > li .mega-menu {
    padding: 30px;
    gap: 40px;
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  header .main-nav > li .mega-menu > .image {
    display: block;
  }
}

header .main-nav > li .mega-menu > .links > li {
  border-bottom: 1px solid #ececec;
  position: relative;
}

header .main-nav > li .mega-menu > .links > li::before {
  content: "";
  left: 0;
  top: 0;
  background-color: #f4f4f4;
  position: absolute;
  height: 100%;
  width: 0%;
  transition: var(--main-transition);
}

header .main-nav > li .mega-menu > .links > li:hover::before {
  width: 100%;
}

header .main-nav > li .mega-menu > .links > li > a {
  display: block;
  padding: 15px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

header .main-nav > li .mega-menu > .links > li > a i {
  margin-right: 10px;
}
/* End Header */
/* Start Landing */
.hero {
  position: relative;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  top: -40px;
  left: 0;
  transform: skewY(-6deg);
  transform-origin: top left;
  z-index: -1;
}

.hero .container {
  display: flex;
  text-align: center;
  height: calc(100vh - 90px);
  align-items: center;
  padding-bottom: 130px;
}

.hero .container .text {
  flex: 1;
}

.hero .container .text h1 {
  font-size: 28px;
  margin: 0;
  letter-spacing: -2px;
}

@media (min-width: 768px) {
  .hero .container .text h1 {
    font-size: 40px;
  }
}

.hero .container .text p {
  color: #666;
  line-height: 1.7;
  margin: 10px auto;
  max-width: 500px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .hero .container .text p {
    font-size: 23px;
  }
}

.hero .container .image {
  display: none;
}

@media (min-width: 992px) {
  .hero .container .text {
    text-align: left;
  }

  .hero .container .text p {
    margin: 5px 0 0;
  }

  .hero .container .image {
    display: block;
  }

  .hero .container .image img {
    width: 600px;
    animation: up-down 5s linear infinite;
    position: relative;
  }
}

.hero .go-down {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  color: var(--main-color);
}

.hero .go-down i {
  animation: bouncing 1.5s infinite;
}
/* End Landing */

/* Start articles */
.articles {
  padding: var(--main-padding-bottom) 0;
}

.articles .articles-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.articles .articles-container article {
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0 0 0 / 10%);
  transition: var(--main-transition);
}

.articles .articles-container article:hover {
  box-shadow: 0px 5px 15px rgba(0 0 0 / 30%);
  transform: translateY(-10px);
}

.articles .articles-container article img {
  max-width: 100%;
}

.articles .articles-container .text {
  padding: 20px;
}

.articles .articles-container .text h3 {
  margin: 0;
}

.articles .articles-container .text p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}

.articles .articles-container .btns {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles .articles-container .btns a {
  font-weight: bold;
  color: var(--main-color);
}

.articles .articles-container .btns i {
  color: var(--main-color);
}

.articles .articles-container article:hover i {
  animation: moving-arrow 0.6s infinite linear;
}
/* End articles */

/* Start Gallery */
.gallery {
  padding: var(--main-padding-bottom) 0;
  background-color: var(--section-background);
  /* position: relative; */
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.gallery .container .photo {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0 0 0 / 40%);
}

.gallery .container .photo .image {
  position: relative;
  overflow: hidden;
}

.gallery .container .photo .image::before {
  content: "";
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  z-index: 2;
}

.gallery .container .photo img {
  max-width: 100%;
  transition: var(--main-transition);
}

.gallery .container .image:hover img {
  transform: scale(1.1) rotate(6deg);
}

.gallery .container .image:hover::before {
  animation: flash 0.5s linear;
}
/* End Gallery */

/* Start Features */
.features {
  padding: var(--main-padding-bottom) 0;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.features .box {
  border: 1px solid #ccc;
  text-align: center;
}

.features .box .img-holder {
  overflow: hidden;
  position: relative;
}

.features .box .img-holder img {
  max-width: 100%;
}

.features .box .img-holder::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.features .quality .img-holder::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .time .img-holder::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .passion .img-holder::before {
  background-color: rgb(3 169 244 / 60%);
}

.features .box .img-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border: white solid;
  border-width: 0px 0px 170px 600px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}

.features .box:hover .img-holder::after {
  border-width: 170px 500px 170px 0px;
  border-color: transparent transparent white transparent;
}

.features .box .info h3 {
  font-size: 40px;
  margin: auto;
  width: fit-content;
  position: relative;
}

.features .box .info h3::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  left: 15px;
  bottom: -20px;
  height: 5px;
}

.features .quality .info h3::after {
  background-color: rgb(244 64 54 / 100%);
}

.features .time .info h3::after {
  background-color: rgb(0 150 136 / 100%);
}

.features .passion .info h3::after {
  background-color: rgb(3 169 244 / 100%);
}

.features .box .info p {
  padding: 25px;
  margin: 30px 0px;
  color: #777;
  font-size: 20px;
  line-height: 2;
}

.features .box .info a {
  font-size: 23px;
  border: 3px solid transparent;
  width: fit-content;
  padding: 10px 30px;
  margin: 0 auto 30px;
  display: block;
  font-weight: bold;
  border-radius: 6px;
}

.features .quality .info a {
  border-color: rgb(244 64 54 / 100%);
  color: rgb(244, 64, 54);
  background-image: linear-gradient(to right, rgb(244, 64, 54) 50%, white 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: var(--main-transition);
}

.features .time .info a {
  border-color: rgb(0 150 136 / 100%);
  color: rgb(0 150 136 / 100%);
  background-image: linear-gradient(
    to right,
    rgb(0 150 136 / 100%) 50%,
    white 50%
  );
  background-size: 200% 100%;
  background-position: bottom right;
  transition: var(--main-transition);
}

.features .passion .info a {
  border-color: rgb(3 169 244 / 100%);
  color: rgb(3 169 244 / 100%);
  background-image: linear-gradient(
    to right,
    rgb(3 169 244 / 100%) 50%,
    white 50%
  );
  background-size: 200% 100%;
  background-position: bottom right;
  transition: var(--main-transition);
}

.features .box:hover .info a {
  color: white;
  background-position: bottom left;
}
/* End Features */

/* Start Testimonials */
.testimonials {
  background-color: var(--section-background);
  padding: var(--main-padding-bottom) 0;
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.testimonials .box {
  background: white;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0 0 0 / 10%);
  position: relative;
  border-radius: 6px;
}

.testimonials .box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  right: -10px;
  border: 10px solid var(--section-background);
}

.testimonials .box h3 {
  margin: 0 0 10px;
}

.testimonials .box span {
  margin-bottom: 10px;
  color: #777;
  display: inline-block;
}

.rate > *:not(:last-child) {
  color: #ffc107;
}

.testimonials .box p {
  margin: 10px 0 0 0;
  color: #777;
  line-height: 1.5;
}

/* End Testimonials */
/* Start Team */
.team {
  padding: var(--main-padding-bottom) 0;
}

.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.team .container .box {
  position: relative;
}

.team .container .box::before,
.team .container .box::after {
  content: "";
  position: absolute;
  width: calc(100% - 60px);
  height: 100%;
  right: 0;
  top: 0;
  background: #f3f3f3;
  border-radius: 10px;
  transition: var(--main-transition);
  z-index: -1;
}
.team .container .box::after {
  width: 0;
  background-color: #e4e4e4;
}

.team .container .box:hover::after {
  width: calc(100% - 60px);
}

.team .container .box .profile {
  display: flex;
  align-items: center;
  padding-top: 60px;
  position: relative;
}

.team .container .box .profile img {
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--main-transition);
}

.team .container .box:hover .profile img {
  filter: grayscale(100%);
}

.team .container .box .profile .social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.team .container .box .profile .social a {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

.team .container .box .profile .social a i {
  color: #777;
  transition: var(--main-transition);
}

.team .container .box .profile .social a:hover i {
  color: var(--main-color);
}

.team .container .box .info {
  padding-left: 80px;
}

.team .container .box .info h3 {
  margin-bottom: 0;
  color: var(--main-color);
  font-size: 23px;
  transition: var(--main-transition);
}

.team .container .box:hover .info h3 {
  color: #777;
}

.team .container .box .info p {
  margin: 10px 0 25px;
  text-transform: capitalize;
}
/* End Team */

/* Start Services */
.services {
  padding: var(--main-padding-bottom) 0;
  background-color: var(--section-background);
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.services .container .box {
  background: white;
  box-shadow:
    0px 10px 20px rgba(0 0 0 / 20%),
    0px 2px 4px rgba(0 0 0 / 12%);
  position: relative;
  transition: var(--main-transition);
  counter-increment: services 1;
  text-align: center;
}

.services .container .box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -3px;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}

.services .container .box:hover {
  transform: translateY(-10px);
}

.services .container .box:hover::before {
  width: 100%;
}

.services .container .box i {
  margin: 30px auto 20px;
  color: rgb(213 213 213);
}

.services .container .box h3 {
  font-size: 25px;
  margin: 20px 0 40px;
  color: var(--main-color);
}

.services .container .box .info {
  text-align: right;
  padding: 15px;
  position: relative;
  background: rgb(247 247 247);
}

.services .container .box .info::before {
  content: "0" counter(services);
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--main-color);
  width: 80px;
  padding-right: 30px;
  height: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}

.services .container .box .info::after {
  content: "";
  position: absolute;
  left: 80px;
  bottom: 0;
  background: rgb(213 213 213);
  width: 50px;
  height: 100%;
  transform: skewX(-30deg);
}

.services .container .box .info a {
  color: var(--main-color);
  text-transform: capitalize;
}
/* End Services */

/* Start Skills */
.our-skills {
  padding: var(--main-padding-top) 0;
}

.our-skills .container img {
  display: none;
}

.our-skills .container .skills .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-skills .container .skills .skill h3 span {
  font-size: 12px;
  border: 1px solid #ccc;
  color: var(--main-color);
  padding: 3px 5px;
  border-radius: 6px;
}

.our-skills .container .skill .progress {
  height: 30px;
  background: #eee;
}

.our-skills .container .skill .progress span {
  display: block;
  background: var(--main-color);
  height: 100%;
}

@media (min-width: 992px) {
  .our-skills .container {
    display: flex;
  }

  .our-skills .container img {
    display: block;
  }

  .our-skills .container .skills {
    flex: 1;
  }
}
/* End Skills */

/* Start work-steps */
.work-steps {
  padding: var(--main-padding-top) 0;
  background: var(--section-background);
}

.work-steps .container > img {
  max-width: 100%;
  margin: 0 auto 50px;
  display: block;
}

@media (min-width: 992px) {
  .work-steps .container {
    display: flex;
    align-items: center;
  }

  .work-steps .container > img {
    margin: 0 100px 0 0;
  }
}

.work-steps .container .steps-container .box {
  text-align: center;
  padding: 30px;
  background: #f4f4f3;
  margin: 0 0 30px 0;
  border: 1px solid white;
  position: relative;
  border-radius: 6px;
  z-index: 1;
}

.work-steps .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 6px;
  background-color: #ededed;
  transition: var(--main-transition);
  z-index: -1;
}

.work-steps .box:hover::before {
  width: 100%;
  height: 100%;
}

.work-steps .container .steps-container .box img {
  width: 63px;
  margin: 0 0 30px;
}

@media (min-width: 768px) {
  .work-steps .box {
    display: flex;
    align-items: center;
  }

  .work-steps .container .steps-container .box img {
    margin: 0 30px 0 0;
  }

  .work-steps .container .steps-container .box .text {
    text-align: left;
  }
}

.work-steps .container .steps-container .box .text h3 {
  font-size: 23px;
  margin: 0;
}

.work-steps .container .steps-container .box .text p {
  margin: 10px 0 0;
  font-size: 18px;
  color: #777;
  line-height: 1.7;
}
/* End work-steps */

/* Start events */
.event {
  padding: var(--main-padding-top) 0;
  position: relative;
}

.event .container {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}

.event .dots {
  background-image: url(../imgs/dots.png);
  width: 204px;
  height: 186px;
  position: absolute;
  z-index: -1;
}

.event .dots-up {
  right: 0;
  top: 200px;
}

.event .dots-down {
  bottom: 200px;
  left: 0;
}

.event .container > img {
  display: none;
  width: 450px;
}

@media (min-width: 992px) {
  .event .container > img {
    display: block;
  }
}

.event .container .content {
  flex: 1;
}

.event .container .content .time {
  display: flex;
  gap: 10px;
  margin: 20px auto;
  justify-content: center;
}

.event .container .content .time .unit {
  width: 74px;
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  transition: var(--main-transition);
  background-color: white;
}

.event .container .content .time .unit:hover,
.event .container .content .time .unit:hover span:last-child {
  border-color: var(--main-color);
}

.event .container .content .time .unit .time {
  display: block;
  transition: var(--main-transition);
  padding: 15px;
  font-size: 35px;
  font-weight: bold;
  color: var(--main-color);
}

.event .container .content .time .unit span:last-child {
  display: block;
  transition: var(--main-transition);
  padding: 8px 10px;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
}

.event .container .content h3 {
  text-align: center;
  margin: 40px 0 0;
  font-size: 30px;
}

.event .container .content p {
  text-align: center;
  color: #777;
  line-height: 1.7;
  font-size: 19px;
}

.event .container .subscribe {
  margin-top: 50px;
  width: 100%;
}

.event .container .subscribe form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
  width: 600px;
  background: #f6f5f5;
  padding: 30px 40px;
  margin: 20px auto;
}

.event .container .subscribe form input[type="email"] {
  flex: 1;
  padding: 20px;
  outline: none;
  border: none;
  caret-color: var(--main-color);
}

.event .container .subscribe form input[type="submit"] {
  padding: 20px;
  border: none;
  background: var(--main-color);
  color: white;
  font-weight: bold;
  transition: var(--main-transition);
  cursor: pointer;
}

.event .container .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}

@media (min-width: 768px) {
  .event .container .subscribe form {
    flex-direction: row;
    border-radius: 50px;
  }

  .event .container .subscribe form input[type="email"] {
    border-radius: 50px;
  }

  .event .container .subscribe form input[type="submit"] {
    border-radius: 50px;
  }
}
/* End events */
/* Start pricing */
.pricing {
  padding: var(--main-padding-bottom) 0;
}

.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.pricing .container .box {
  background: white;
  position: relative;
  box-shadow:
    0 12px 20px 0 rgb(0 0 0 / 13%),
    0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
  background: white;
  text-align: center;
  z-index: 1;
}

@media (min-width: 1200px) {
  .pricing .container .popular {
    top: -20px;
  }
}

.pricing .container .popular .label {
  position: absolute;
  top: 0;
  right: 10px;
  background: var(--main-color);
  writing-mode: vertical-rl;
  padding: 10px 10px 35px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  width: 40px;
}

.pricing .container .popular .label::before {
  content: "";
  position: absolute;
  border-color: transparent transparent white transparent;
  border-style: solid;
  border-width: 20px;
  bottom: 0;
  left: 0;
}

.pricing .container .box::before,
.pricing .container .box::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 0%;
  background-color: #f6f6f6;
  transition: var(--main-transition) linear;
  z-index: -1;
}

.pricing .container .box::before {
  top: 0;
  left: 0;
}

.pricing .container .box::after {
  bottom: 0;
  right: 0;
}

.pricing .container .box:hover::before,
.pricing .container .box:hover:after {
  width: 100%;
}

.pricing .container .box h3 {
  font-weight: bold;
  font-size: 25px;
  margin: 30px 0;
  text-align: center;
  letter-spacing: -1px;
}

.pricing .container .box img {
  width: 80px;
  margin-bottom: 30px;
}

.pricing .container .box .price {
  margin-bottom: 20px;
}

.pricing .container .box .price span:first-child {
  font-weight: bold;
  font-size: 60px;
  color: var(--main-color);
  display: block;
  margin-bottom: 5px;
}

.pricing .container .box .price span:last-child {
  color: #777;
}

.pricing .container .box ul {
  text-align: left;
}

.pricing .container .box ul li {
  padding: 20px;
  border-top: 1px solid #eee;
}

.pricing .container .box ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  color: var(--main-color);
  font-weight: 900;
  margin-right: 10px;
}

.pricing .container .box a {
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 30px auto 40px;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  font-weight: bold;
  border-radius: 6px;
  transition: var(--main-transition);
}

.pricing .container .box a:hover {
  border: none;
  background-color: var(--main-color);
  color: white;
}
/* End pricing */
/* Start Video */
.top-video {
  padding: var(--main-padding-bottom) 0;
}

.top-video .holder {
  display: flex;
  flex-direction: column;
  background: var(--section-background);
  border: 1px solid #d3d3d3;
}

.top-video .holder .list {
  background: white;
  min-width: 300px;
}

.top-video .holder .list .title {
  justify-content: space-between;
  display: flex;
  align-items: center;
  background: #f4f4f4;
  padding: 20px;
  color: var(--main-color);
  font-weight: bold;
}

.top-video .holder .list .title h3 {
  margin: 0;
  font-size: 15px;
}

.top-video .holder ul li {
  padding: 20px;
  border-top: 1px solid var(--section-background);
  transition: var(--main-transition);
  cursor: pointer;
}

.top-video .holder ul li:hover {
  background-color: #fafafa;
  color: var(--main-color);
}

.top-video .holder ul li span {
  display: block;
  margin-top: 10px;
  color: #777;
}

.top-video .holder .preview {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #e2e2e2;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .top-video .holder {
    flex-direction: row;
  }
}

.top-video .holder .preview img {
  max-width: 100%;
}

.top-video .holder .preview .info {
  padding: 20px;
  background: white;
  margin: 10px 0 0 0;
}
/* End Video */
/* Start Stats */
.stats {
  padding: var(--main-padding-top) 0;
  min-height: 300px;
  background-image: url(../imgs/stats.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
}

.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255 255 255 / 90%);
  z-index: -1;
}

.stats h2 {
  margin: 0 auto 50px;
  width: fit-content;
  font-size: 40px;
}

.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.stats .container .box {
  padding: 30px 15px;
  background: white;
  text-align: center;
  opacity: 0.8;
  position: relative;
  transition: var(--main-transition);
}

.stats .container .box::before,
.stats .container .box::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  transition: 1s;
}

.stats .container .box::before {
  right: 0;
  top: 0;
}

.stats .container .box::after {
  left: 0;
  bottom: 0;
}

.stats .container .box:hover::before,
.stats .container .box:hover::after {
  height: 100%;
}

.stats .container .box:hover {
  opacity: 1;
}

.stats .container .box i {
  margin-bottom: 10px;
}

.stats .container .box .number {
  display: block;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 10px;
}

.stats .container .box .text {
  font-size: 20px;
  color: var(--main-color);
  font-weight: bold;
  font-style: italic;
}
/* End Stats */
/* Start discount */

@media (min-width: 992px) {
  .discount {
    display: flex;
    min-height: 100vh;
  }

  .discount .image {
    flex-basis: 50%;
  }

  .discount .form {
    flex-basis: 50%;
  }
}

.discount .image {
  background-image: url(../imgs/discount-background1.jpg);
  background-size: cover;
  position: relative;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discount .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(23 135 224 / 97%);
  z-index: -1;
}

.discount .content {
  padding: 0 20px;
  text-align: center;
}

.discount .content h2 {
  padding: 30px 0 0 0;
  font-size: 40px;
  letter-spacing: -2px;
  margin-top: 0;
}

.discount .image .content p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 500px;
}

.discount .image .content img {
  width: 300px;
  max-width: 100%;
}

.discount .form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.discount .form .content form .input {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #ccc;
  background: #f9f9f9;
}

.discount .form .content form textarea.input {
  resize: none;
  height: 200px;
}

.discount .form input[type="submit"] {
  background: var(--main-color);
  width: 100%;
  padding: 15px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: var(--main-transition);
}
/* End discount */
/* Start Footer */
/* =========================
   FOOTER
   ========================= */

footer {
  background-color: #191919;
  padding: 70px 0 0;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

/* =========================
   FIRST BOX
   ========================= */

footer .container .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}

footer .container .box .social {
  display: flex;
  gap: 10px;
}

footer .container .box .social li a {
  display: flex;
  width: 50px;
  height: 50px;
  background: #313131;
  color: #b9b9b0;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
}

footer .container .box .social li a i {
  font-size: 20px;
}

footer .container .box .social li .facebook:hover {
  background-color: #1877f2;
}

footer .container .box .social li .twitter:hover {
  background-color: #1da1f2;
}

footer .container .box .social li .youtube:hover {
  background-color: #ff0000;
}

footer .container .box .text {
  line-height: 2;
  color: #b9b9b9;
}

/* =========================
   SECOND BOX
   ========================= */

footer .container .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}

footer .container .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}

footer .container .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}

footer .container .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}

footer .container .box .links li:hover {
  padding-left: 10px;
}

footer .container .box .links li:hover a {
  color: white;
}

/* =========================
   THIRD BOX
   ========================= */

footer .container .box .line {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
  color: #b9b9b9;
}

footer .container .box .line i {
  color: var(--main-color);
  font-size: 25px;
}

footer .container .box .line .info {
  line-height: 1.7;
  flex: 1;
}

footer .container .box .line .info span {
  display: block;
}

/* =========================
   FOURTH BOX
   ========================= */

footer .container .footer-gallery img {
  width: 72px;
  border: 2px solid white;
  margin: 3px;
}

/* =========================
   COPYRIGHT
   ========================= */

footer .copyright {
  padding: 25px 0;
  margin: 50px 0 0;
  text-align: center;
  color: white;
  border-top: 1px solid #444;
}
/* End Footer */

/* Start Keyframes */
@keyframes up-down {
  0%,
  100% {
    top: 0;
  }

  50% {
    top: -50px;
  }
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-15px);
  }
}

@keyframes move-left {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    left: 0;
    width: 50.5%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes move-right {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    right: 0;
    width: 50.5%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}

@keyframes flash {
  0%,
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* End Keyframes */
